imblearn==0.0
category_encoders==2.9.0

﻿fastapi==0.141.1
pandas==2.3.1
pydantic==2.13.4
PyYAML==6.0.3
scikit_learn==1.8.0
uvicorn==0.42.0 

numpy==2.3.1

catboost==1.2.10
joblib==1.5.2

python-multipart==0.0.22
python-dotenv==1.2.2
pip
mlflow==3.10.1
optuna==4.6.0
dvc==3.67.1

seaborn==0.13.2
matplotlib==3.10.5
dagshub==0.7.1